.container {
    width: 1352px;
}

.uppercase {
    text-transform: uppercase;
}

.circle {
    border-radius: 50%;
}

.borderBox {
    box-sizing: border-box;
}

.whiteBackground {
    background: var(--colorWhite);
}

nav {

    display: flex;
    justify-content: center;
    background: var(--colorWhite) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

nav div p.logo {
    display: flex;
    align-items: center;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: var(--primaryColor);
    font-size: 37px;
}

nav div ul {
    display: flex;
    gap: 81px;

}

nav div ul li a {

    display: flex;
    flex-direction: column;
    align-items: center;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: var(--colorGrey);
    padding: 28px 7px 27px 7px;
    text-decoration: none;
}

nav div.container {
    display: flex;
    justify-content: space-between;
}


nav div ul li a:hover {
    color: var(--colorBlack);
    border-bottom: 4px solid var(--primaryColor);
    padding: 28px 7px 23px 7px;

}

main div.openingSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0px 508px 0px;
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-position: bottom;

}

main div.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

main div.openingSection div.container h1 {
    font: normal normal normal 49px/57px Raleway;
    color: var(--colorBlack);
    text-align: center;
}

main div.openingSection div.container p {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    color: var(--colorBlack);
    padding: 20px 0px 38px 0px;
}

main div.openingSection div.container a {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    color: var(--colorWhite);
    background: var(--primaryColor);
    box-shadow: 5px 10px 14px var(--shadowPrimaryColor);
    padding: 22px 157px 23px 157px;
    border-radius: 40px;
    text-decoration: none;

}


main div.statistic {
    display: flex;
    justify-content: center;
    padding: 100px 0px 122px 0px;
}

main div.statistic div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.statistic div.container h2 {
    font: normal normal normal 36px/42px Raleway;
    color: var(--colorBlack);
    padding-bottom: 100px;
}

main div.statistic div.container div.main__statistic__banerArea {
    display: flex;
    justify-content: center;
    gap: 184px;

}

.statistic__circle {
    height: 63px;
    width: 63px;
}

.main__statistic__baner__circleRed {
    background: var(--colorRedish);
}

.main__statistic__baner__circleRed img {
    position: relative;
    left: 30px;
    top: 3px;
}


.main__statistic__baner__circleBlue {
    background: var(--primaryColor);
}

.main__statistic__baner__circleBlue img {
    position: relative;
    left: 21px;
    top: 14px;

}


.main__statistic__baner__circleGreen {
    background: var(--colorGreen);
}

.main__statistic__baner__circleGreen img {
    position: relative;
    left: 31px;
    top: 6px;

}


.main__statistic__baner h4 {
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 6px;


}

.main__statistic__baner p {
    text-align: center;
    font: normal normal normal 17px/20px Raleway;
    color: var(--colorGrey);
}

.main__statistic__baner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.middleStaticsBaner {
    width: 176px;
    height: 167px;
}

.leftBaner, .rightBaner {
    width: 116px;
    height: 140px;
}


/*------------------------------------- BENEFITS ----------------------------------------*/

main div.benefits {
    background: var(--colorLightGrey);
    padding-top: 105px;
    padding-bottom: 105px;
    display: flex;
    justify-content: center;

}

main div.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
<!-- baer gap -->
}

main div.benefits div.benefits__baner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background: var(--colorWhite);*/
}

html body main div.benefits div.containerBenefitsBaner {
    /*box-sizing: border-box;*/
    width: 1124px;

}


main div.benefits div.benefits__topBaner {
    display: flex;
    padding: 91px 118px 38px 35px;
    background: var(--colorWhite);

}

main div.benefits div.benefits__topBaner div.benefits__topBaner__textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 416px;
}

main div.benefits div.benefits__topBaner div.benefits__topBaner__textArea h3 {
    padding-left: 1px;
    padding-bottom: 30px;
    font: normal normal normal 36px/42px Raleway;
    color: var(--colorBlack);
}

main div.benefits div.benefits__topBaner div.benefits__topBaner__textArea p {
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: var(--colorBlack);
    padding-bottom: 50px;
}


main div.benefits div.benefits__topBaner div.benefits__topBaner__textArea:after {
    content: "";
    display: block;
    height: 0px;
    width: 78%;
    border-bottom: 4px solid var(--colorRedish);
}

main div.benefits div.benefits__topBaner img {
    height: 219px;
    width: auto;
    padding-top: 22px;
    z-index: 2;
}

main div.benefits div.benefits__topBaner div.benefits__topBaner__img {
    display: flex;
}

main div.benefits div.benefits__topBaner div.benefits__topBaner__img:before {
    content: "";
    width: 180px;
    height: 180px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: var(--colorRedish) 0% 0% no-repeat padding-box;
    border-radius: 41px;
    position: relative;
    left: 410px;
    top: -25px;
    z-index: 0;

}

/*------------------------------------------ MIDDLE BENEFITS BANER ------------------------------------------*/


main div.benefits div.benefits__middleBaner {
    display: flex;
    background: var(--colorWhite);
    position: relative;
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__img {
    display: flex;
    flex-direction: column;
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__img img {
    width: 426px;
    height: auto;
    z-index: 1;
    padding: 29px 192px 13px 70px;


}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__img:before {
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background: var(--similarPrimaryColor);
    border-radius: 50%;
    position: absolute;
    left: 70px;
    top: 12px;
    z-index: 0;
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__textArea {
    padding: 69px 20px 71px 0px;
    display: flex;
    flex-direction: column;
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__textArea h3 {
    padding: 0px 170px 30px 0px;
    font: normal normal normal 36px/42px Raleway;
    color: var(--colorBlack);
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__textArea p {
    padding-bottom: 30px;
    font: normal normal normal 16px/22px Open Sans;
    color: var(--colorBlack);
    position: relative;
}

main div.benefits div.benefits__middleBaner div.benefits__middleBaner__textArea:after {
    content: "";
    display: block;
    width: 328px;
    border-bottom: 4px solid var(--primaryColor);
    position: absolute;
    bottom: 69px;
}

/*------------------------------------------ BOTTOM BENEFITS BANER ------------------------------------------*/

main div.benefits div.benefits__bottomBaner {
    display: flex;
    justify-content: space-between;
    position: relative;


}

main div.benefits div.benefits__bottomBaner div.benefits__bottomBaner__textArea {
    width: 554px;
    height: 230px;
    padding: 69px 34px 71px 35px;

}

main div.benefits div.benefits__bottomBaner div.benefits__bottomBaner__textArea h3 {
    font: normal normal normal 36px/42px Raleway;
    color: var(--colorBlack);
    padding: 0px 206px 30px 0px;
}

main div.benefits div.benefits__bottomBaner div.benefits__bottomBaner__textArea div.benefits__bottomBaner__textArea__paragraph {
    padding: 0px 0px 44px 1px;

}

main div.benefits div.benefits__bottomBaner div.benefits__bottomBaner__textArea p {
    font: normal normal normal 16px/22px Open Sans;
    color: var(--colorBlack);
}

main div.benefits div.benefits__bottomBaner div.benefits__bottomBaner__textArea::after {
    content: "";
    display: block;
    width: 328px;
    border-bottom: 4px solid var(--colorGreen);
    position: absolute;

}

main div.benefits div.benefits__bottomBaner img {
    width: 296px;
    height: auto;
    padding: 98px 82px 64px 62px;
    background: var(--colorGreen);
}

main div.benefits div.benefits__bottomBaner {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}


/*------------------------------------------ PRICING ------------------------------------------*/

main div.pricing {
    background: var(--colorWhite);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

main div.pricing div.pricing__container {
    width: 1266px;
    height: 616px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div.pricing div.pricing__container h3 {
    font: normal normal normal 36px/42px Raleway;
    color: var(--colorBlack);
    padding-bottom: 71px;
}

main div.pricing div.pricing__container div.pricing__container__banerArea {

    display: flex;
    width: 100%;
    justify-content: space-between;
}


.firstPricingBaner {
    border: 1px solid var(--colorRedish);

}

.secondPricingBaner {
    border: 1px solid var(--similarPrimaryColor);
}

.thirdPricingBaner {
    border: 1px solid var(--colorGreen);

}

main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner {
    width: 372px;
    height: 461px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 18px;

}


main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner h4 {
    font: normal normal bold 21px/24px Raleway;
    color: #13253B;
    padding-top: 34px;
    padding-bottom: 14px;
}


main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner h5 {

    font: normal normal 300 46px Open Sans;
}


main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner p {

    font: normal normal bold 12px Raleway;
    color: #13253B;
    padding-bottom: 50px;
}

main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner ul li {
    font: normal normal normal 14px/41px Open Sans;
    display: flex;


}


main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner ul li:before {
    content: url("../assets/Ckechmark-1.svg");
    display: block;
    position: relative;
    left: -10px;
}

main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner ul li.noCHK:before {
    content: url("../assets/Close.svg");
    display: block;
    width: 11px;
    position: relative;
    left: -10px;
}

main div.pricing div.pricing__container div.pricing__container__banerArea div.pricing__container__banerArea__baner a {
    padding: 16px 64px;
    border-radius: 23px;
    font: normal normal bold 13px Open Sans;
    color: var(--colorWhite);
    text-decoration: none;
    position: relative;
    bottom: 0;
    transform: translate(0%, 50%);
}

.firstPricingBaner a {
    background: #EB476E;
}

.secondPricingBaner a {
    background: var(--similarPrimaryColor);
    box-shadow: 5px 10px 14px #07ACE629;
}

.thirdPricingBaner a {
    background: var(--colorGreen);
}

.secondPricingBaner {
    transform: scale(1.088709, 1.084598);
    box-shadow: 5px 10px 27px var(--similarPrimaryColor);
}


/*------------------------------------------ CONTACT ------------------------------------------*/

main div.contact {
    padding: 155px 0px 59px 0px;
    display: flex;
    justify-content: center;
}


main div.contact div.contactContainer {

    width: 896px;
    height: 376px;
    display: flex;
}

main div.contact div.contactContainer div.contact_area {
    display: flex;
    flex-direction: column;

}

main div.contact div.contactContainer div.contact_area h2 {
    font: normal normal normal 49px/57px Raleway;
    color: var(--colorBlack);
    padding: 0px 114px 22px 0px;

}

main div.contact div.contactContainer div.contact_area p {
    font: normal normal normal 16px/22px Open Sans;
    color: var(--colorBlack);
    padding-bottom: 42px;

}

main div.contact div.contactContainer div.contact_area div.contactData {
    display: flex;
}

main div.contact div.contactContainer div.contact_area div.contactData div.contactMail {
    padding-left: 37px;
    display: flex;
    align-items: center;
    position: relative;
}

main div.contact div.contactContainer div.contact_area div.contactData div.contactMail:before {
    content: url("../assets/Mail Icon.svg");
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0px;

}

main div.contact div.contactContainer div.contact_area div.contactData div.contactPhone {
    padding-left: 57px;
    display: flex;
    align-items: center;
    position: relative;
}

main div.contact div.contactContainer div.contact_area div.contactData div.contactPhone:before {
    content: url("../assets/Phone Icon.svg");
    display: block;
    width: 27px;
    height: 27px;
    position: absolute;
    left: 20px;
}

main div.contact div.contactContainer div.contact_area div.contactData a {
    text-decoration: none;
    font: normal normal 600 16px/22px Open Sans;
    color: var(--colorGrey);
}

/*------------------------------------------ CONTACT FORM ------------------------------------------*/


main form.contactForm {
    width: 397px;
    display: flex;
    flex-direction: column;
}

main form.contactForm div.InputArea {
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    position: relative;
}


main form.contactForm div.Name:before {
    content: "n a m e";
    font: normal normal bold 11px/15px Open Sans;
    color: var(--primaryColor);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

main form.contactForm div input:focus {
    outline: none;

}


main form.contactForm div.InputArea::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid var(--primaryColor);
}


main form.contactForm div input {
    border: none;
    height: 42px;
    font: normal normal normal 16px/22px Open Sans;
}

main form.contactForm div.Email:before {
    content: "e m a i l";
    font: normal normal bold 11px/15px Open Sans;
    color: var(--primaryColor);
    text-transform: uppercase;
    position: absolute;
    top: 42px;
    left: 0px;
}

main div.contact form.contactForm div.Email {
    padding-top: 58px;
}

main div.contact form.contactForm label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 20px;
}



main form.contactForm input.checkboxAgree {
    display: none;
}

main div.contact form.contactForm span {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #95989A;
    border-radius: 4px;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-basis: 24px;
    position: relative;
    left: 0;
    top: 0;
    margin-right: 10px;
}

main div.contact form.contactForm label p{
    text-align: left;
    font: normal normal normal 12px/17px Open Sans;
    color: #707070;

}

main div.contact form.contactForm label input.checkboxAgree:checked + span {
    background-image: url("../assets/Checkmark.svg");
    background-position: center center;

}

main div.contact form.contactForm button.submitBTN{
    padding: 20px 97px;
    align-self: flex-end;
    border: none;
    color: var(--colorWhite);
    font: normal normal bold 13px/18px Open Sans;

    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
}

footer{
    background: var(--colorLightGrey) 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}

footer div.footer__container{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.footer__container div.footer__info {
    display: flex;
    flex-direction: column;

}


footer div.footer__container div.footer__info a.logo{
    text-align: left;
    font: normal normal 300 26px/30px Raleway;
    letter-spacing: 0px;
    color: var(--primaryColor);
    text-decoration: none;
}

footer div.footer__container div.footer__info span{
    padding-top: 6px;
    font: normal normal normal 11px/15px Open Sans;
    color: var(--colorGrey);
}

footer div.footer__icons a{
    text-decoration: none;
}

footer div.footer__icons img{
    margin-right: 20px;
    height: 24px;
    width: 24px;

}